<nav class="navbar navbar-inverse">
    <div class="container flex-row">
        <a class="navbar-brand">Angular Router</a>
        <ul class="nav navbar-nav flex-row" routerLinkActive="active">
            <li class="nav-item pr-5"><a class="nav-link" routerLink="../login">Login</a></li>
            <li class="nav-item pr-5"><a class="nav-link" routerLink="../register">register</a></li>
            <li class="nav-item pr-5"><a class="nav-link" routerLink="../home">User List</a></li>
        </ul>
    </div>
</nav>




