

<div class="container">
    <h2>User List</h2>


    <div class="row"  *ngIf="errorMsgFlag; else elseBlock">
        <div class="col-xs-12">
          <p class="alert alert-danger">
              <strong>{{errorMsg}}</strong>
          </p>
        </div>
      </div>


    <ng-template #elseBlock>


        <table class="table table-hover table-bordered  table-striped">
            <thead >
                <tr>
                    <th>User Name</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Mobile</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of userData">
                    <td>{{user.username}}</td>
                    <td>{{user.firstname}}</td>
                    <td>{{user.lastname}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.mobile}}</td>
                    <td>

                        <div class="btn-group" role="action" aria-label="Basic example">
                            <button type="button" class="btn btn-primary" (click)="updateUserData(user)">Update</button>
                            <button type="button" class="btn btn-danger" (click)="deleteUser(user.username)">Delete</button>
                            <button type="button" class="btn btn-warning" (click)="statusUpdate(user.username,(user.status == 'INACTIVE' || user.status == null) ? 'INACTIVE' : 'ACTIVE' )">{{ (user.status == 'INACTIVE' || user.status == null) ? 'Enable' : 'Disable' }}</button>
                          </div>

                    </td>

                </tr>
            </tbody>
        </table>
    </ng-template>
</div>
